.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.card-area {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 75%;
  gap: 15px;
  margin-bottom: 100px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 15px;
  justify-content: center;
}

.card {
  flex: 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(208, 255, 252, 1) 0%,
    rgba(33, 145, 231, 1) 100%
  );
  font: inherit;
  letter-spacing: 1px;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.95;
  background: linear-gradient(
    90deg,
    rgba(184, 243, 255, 1) 0%,
    rgba(55, 88, 240, 1) 100%
  );
}

.card img {
  width: 80%;
}

.card .pokeball {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .card {
    flex: 0;
    min-width: 40%;
  }
  .card .pokeball {
    width: 50%;
  }
  .card-area {
    width: 90%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .card-area {
    width: 90%;
  }
  .card-row {
    flex-wrap: nowrap;
  }
}
