body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('../assets/pokebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: pokeFont;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: pokeFont;
  src: url(../fonts/pokefont2.otf);
}
